<div class="field" cdkDropListGroup>
    <div
        class="excel"
        [class.step]="isMoved(coord)"
        (click)="next(coord)"
        [ngClass]="coord.color"
        *ngFor="let coord of coords; let i = index"
        cdkDropList
        [cdkDropListData]="coord"
        (cdkDropListDropped)="dropMove($event, next)"
    >
        <!-- <div class="title">{{isMoved(coord)}} {{coord.posY}}</div> -->
        <div @showHide
            [cdkDragData]="hourse.getStep()"
            (start)="1500"
            (cdkDragStarted)="dragStart($event)"
            (click)="dragStart($event)"
            (cdkDragMoved)="dragMoved($event)"
            (cdkDragEnded)="dragEnded($event)"
            class="current"
            *ngIf="coord.posX === hourse.posX && coord.posY === hourse.posY"
            cdkDrag
        ></div>
    </div>
</div>