<div>
    <div class="field" cdkDropListGroup>
        <div
            class="excel"
            *ngFor="let coord of coords; let i = index"
            cdkDropList
            [class.dark]="coord.index"
            [cdkDropListData]="coord"
            (cdkDropListDropped)="dropMove($event, next)"
        >
            <div class="title">{{coord.posX}} {{coord.posY}}</div>
            <!-- <div @showHide
                [cdkDragData]="hourse.getStep()"
                (start)="1500"
                (cdkDragStarted)="dragStart($event)"
                (click)="dragStart($event)"
                (cdkDragMoved)="dragMoved($event)"
                (cdkDragEnded)="dragEnded($event)"
                class="current"
                *ngIf="coord.posX === hourse.posX && coord.posY === hourse.posY"
                cdkDrag
            ></div> -->
        </div>
    </div>
    <div>От кого {{from}}
        <select [(ngModel)]="from">
            <option *ngFor="let player of players" [value]="player">{{player}}</option>
        </select>
    </div>
    <div>От кого {{to}}
        <select [(ngModel)]="to">
            <option *ngFor="let player of players" [value]="player">{{player}}</option>
        </select>
    </div>
    <div>Сообщение <input type="text" [(ngModel)]="message"/></div>
    <div><input type="button" (click)="send()" value="Отправить" /></div>
    <div *ngFor="let msg of list">{{msg}}</div>
</div>