<div class="table-wrap">
  <div class="filter">
      <input 
        type="text"
        placeholder="Поиск"
        [(ngModel)]="search"
      />
    </div>
  <table>
    <thead>
      <tr>
        <th>Номер</th>
        <th>Url</th>
        <th>Бренд</th>
        <th>Артикул</th>
        <th>Наименование</th>
        <th>Нагрузка</th>
        <th>Скорость</th>
        <th>Сезонность</th>
        <th>Тип</th>
        <th>Ширина</th>
        <th>ИН/ИС</th>
        <th>Шипованые</th>
        <th>Цена</th>
        <th>Цена продажи</th>
        <th>Количество</th>
        <th>Изображение</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shiny | search: search">
        <td data-label="Номер">{{item.id}}</td>
        <a href="#"><td data-label="Url адрес">{{item.url}}</td></a>
        <td data-label="Бренд">{{item.tire_brand}}</td>
        <td data-label="Артикул">{{item.article}}</td>
        <td data-label="Наименование">{{item.tire_name_new}}</td>
        <td data-label="Нагрузка">{{item.tire_load}}</td>
        <td data-label="Скорость">{{item.tire_speed}}</td>
        <td data-label="Сезонность">{{item.tire_time}}</td>
        <td data-label="Тип ТС">{{item.tire_ts}}</td>
        <td data-label="Ширина">{{item.tire_width}}</td>
        <td data-label="ИН/ИС">{{item.tire_rf}}</td>
        <td data-label="Шипованые">{{item.tire_thorn}}</td>
        <td data-label="Цена">{{item.tire_price}}</td>
        <td data-label="Цена продажи">{{item.tire_price1}}</td>
        <td data-label="Количество">{{item.tire_kol}}</td>
        <td data-label="Изображение">{{item.tire_photo}}</td>
      </tr>
    </tbody>
</table>
</div>