body {
  text-align: center;
  padding-top: 10%;
  font-family: sans-serif;
  background-size: cover;
  height: 100vh;
  color: #fff;
  
}
.table-wrap {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  padding: 2rem 2rem;
  color: #000;
  overflow: auto;
  .panel {
    width: 100%;
    // height: 64px;
    border: 1px solid #ccc;
    margin:0;
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    user-select: none;
    input {
      flex-basis: 80%;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      padding: 10px .5rem;
      float: left;
    }
  }
  .navigation {
    width: 100%;
    // height: 64px;
    vertical-align: middle;
    border: 1px solid #ccc;
    margin:0;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    user-select: none;
    .btn {
      border: 1px solid #ccc;
      padding: 5px;
      margin: 0 5px;
    }
  }
}
 
 table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    user-select: none;
  }
 
  table tr {
    border: 1px solid #ddd;
    padding: 5px;
    &:nth-child(2n) {
      background: #f0f0f0; /* Цвет фона */
    }
    a {
      color: #db1a1a;
      text-decoration: none;
      filter: contrast(0.7);
      &:hover{
        filter: contrast(1);
        text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5)
      }
    }
  }
 
  table th, table td {
    padding: 10px;
    text-align: center;
	border-right: 1px solid #ddd;
  }
 
  table th {
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }


@media screen and (max-width: 600px) {
  table {
	  border: 0;
  }
  .table-wrap {
    max-width: 360px;;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
	&:nth-child(2n) {
		background: #fff; /* Цвет фона */
	} 
  }
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
	&:nth-child(2n) {
		background: #f0f0f0; /* Цвет фона */
	}
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
	font-weight: bold;
  }
}