.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(3,95,174,1) 35%, rgba(0,212,255,1) 100%);
  .row {
    position: relative;
    border: 1px solid yellow;
    background: #f5ffcf;
    color: #0083cc;
    border-radius: 6px;
    margin: 1.8em;
    margin-top: 4em;
    filter: drop-shadow(2px 4px 6px black);
    .header {
      height: 15px;
    }
    .header h2 {
      position: relative;
      top: -65px;
      padding: 0.8em;
      width: calc(100% - 160px);
      height: 80px;
      box-sizing: border-box;
      background: radial-gradient(circle, #ee8b7d 0%, #f01c1c 50%, #f01c1c 100%);
      margin: 1em auto;
      font-family: fantasy;
      color: #f3ecad;
      font-size: 1.8em;
      z-index: 999;
      &::before, &::after {
        position: absolute;
        top: 0;
        height: 0px;
        width: 0px;
        content: "";
        border: 40px solid #f01c1c;
        border-left-width: 2em;
        border-right-width: 2em;
        z-index: -1;
      }
      &::before {
        right: -60px;
        border-right-color: transparent;
      }
      &::after {
        left: -60px;
        border-left-color: transparent;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .header h2{
    width: calc(100% - 65px) !important;
  }
}