<div class="container">
    <div class="row">
        <div class="header">
            <h2>Состав игры</h2>
        </div>
        <div class="content">
            <h2>66 клеток с приключениями</h2>
            <p>Из которых вы будете собирать острова архипелага. Это будущее игровое поле</p>
            <h2>4 клетки кораблей</h2>
            <p>На которых ваши пираты будут плавать вокруг острова</p>
            <h2>19 монет</h2>
            <p>Который вашим пиратам нужно перетащить с острова на корабль</p>
            <h2>4 пиратские команды</h2>
            <p>В каждой команде 3 пирата. У каждой команды свой цвет. Черные, красные, желтые и белые</p>
            <h2>5 бутылок с посланиями</h2>
            <p>Одна бутылка способна выручить в трудную минуту</p>
            <h2>12 карт способностей</h2>
            <p>Каждая способность делает из выбранного пирата настоящего морского волка</p>
            <h2>Скины способностей</h2>
            <p>Для обозначения способностей пирата</p>
            <h2>Кубик</h2>
            <p>Позволит выбрать путь на перекрестках</p>
            <h2>Медведь</h2>
            <p>Случайно разбудившийся медведь очень голодный и злой. Он не успокоится и будет преследовать пиратов до конца игры</p>
            <h2>Миссионер</h2>
            <p>Миссионер проповедует любовь и мир пиратам материалистам.</p>
        </div>
    </div>
</div>